.headline {
  width: 100%;

  @include for-large-up {
    display: flex;
    position: relative;
    width: 1140px;
    padding-bottom: 77px;
    margin: auto;
    margin-top: 84px;
  }

  &__content {
    margin: 35px 15px 33px 15px;

    @include for-large-up {
      position: absolute;
      z-index: 1;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    line-height: 50px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.3125px;

    @include for-large-up {
      width: 754px;
      height: 165px;
      line-height: 78px;
      z-index: 1;
      font-size: 80px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    margin-top: 24px;
    line-height: 34px;
    font-size: 24px;

    @include for-large-up {
      width: 456px;
      height: 102px;
      margin-top: 34px;
      margin-bottom: 0;
      z-index: 1;
      line-height: 34px;
      font-size: 24px;
    }
  }

  &__actions {
    margin-top: 30px;

    @include for-large-up {
      display: flex;
      margin-top: 58px;
    }
  }

  &__learn-more-btn {
    width: 158px;
    height: 48px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    color: #3040c4;

    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
    }
  }

  &__banner {
    width: 100%;
    margin-bottom: 36px;

    @include for-large-up {
      position: relative;
      max-width: 796px;
      height: 448px;
      right: -105px;
      top: 0;
      margin-left: auto;
    }
  }
}

.headline__actions-btn_get-started {
  width: 100%;
  @include for-large-up {
    width: 160px;
  }
}

.headline__btn_learn-more {
  width: 100%;
  @include for-large-up {
    width: 158px;
  }
}
