.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding-left: 15px;
  background-color: $color-white;

  @include for-large-up {
    display: flex;
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: transparent;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
      margin-right: 0px;
    }
  }

  &__menu-button {
    width: 58px;
    height: 100%;
    margin-left: auto;
    border: none;
    border-left: 1px solid #00000026;
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }

  &__menu-icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
  }

  .logo__decription {
    display: none;

    @include for-large-up {
      display: block;
    }
  }
}

.navigation {
  display: none;

  @include for-large-up {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }

  &__item {
    margin-right: 50px;
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    color: $color-dark;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item_selected {
    font-weight: 700;
  }

  &__arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 11px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
}

.logo {
  display: flex;

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }

  &__name {
    line-height: 25px;
    font-size: 20px;
    font-weight: 700;
  }

  &__decription {
    line-height: 25px;
    font-size: 18px;
    color: $color-dark;
    opacity: 0.6;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.top-section {
  background-color: #f3c6bd;

  @include for-large-up {
    padding-top: 39px;
  }
}
