.order {
  padding: 50px 15px;
  background-color: $color-light;

  @include for-large-up {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 73px 0 72px 0;
  }

  &__details {
    max-width: 555px;
    margin: auto;
  }

  &__image {
    display: flex;
    max-width: 200px;
    margin: auto;

    @include for-large-up {
      display: inline;
      max-width: 269px;
      margin-right: 0;
      margin-left: 224px;
    }
  }

  &__title {
    text-align: center;
    margin-top: 40px;
    line-height: 40px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.357143px;
    @include for-large-up {
      text-align: start;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    line-height: 34px;
    font-size: 24px;
  }

  &__form {
    margin-top: 26px;
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }

  &__email {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    border: 1px solid $border-color;
    border-radius: 2px;
    line-height: 13px;
    font-size: 18px;
    text-align: center;
    background: #fff;

    @include for-large-up {
      margin-top: 0;
    }

    &::placeholder {
      color: $color-dark;
    }
  }

  &__button {
    width: 100%;
    margin-top: 12px;

    @include for-large-up {
      width: 160px;
    }

    @include for-large-up {
      flex-shrink: 0;
      margin-top: 0;
      margin-left: 10px;
    }
  }

  &__terms {
    line-height: 22px;
    font-size: 14px;
    color: $text-color-light-grey;
  }

  &__terms-link {
    color: $text-color-blue;
  }
}
