$color-yellow-light: #fcf0e366;
$color-white-light: #f2f2f2;
$color-white: #fff;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$color-light-blue: #00a1c612;
$color-dark: #2b292d;
$color-grey: #d5d4d5;
$color-dark-blue: #3141c5;
$color-light: #f4f5f7;

$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #f1592b;
$text-color-blue: #3142c6;
$text-color-black: #000;
$text-color-white: #fff;
$text-color-dark: $color-dark;

$border-color: #2b292d33;

$color-blue-button: #3040c4;
